/* 
* File: src\pages\login\login.css
* Project: Omni-Live-logistics-rep-assignment
* Author: Bizcloud Experts
* Date: 2024-01-12
* Confidential and Proprietary
*/
.login-component-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
.login-component-middle-inner {
    position: absolute;
    top: 30%;
}
.login-component-form-header, .login-component-form-button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
#login-component-form-button{
    background-color: rgba(255, 0, 0, 0.5);
    border-color: rgba(255, 0, 0, 0.5);
    padding: .5rem 2rem;
    border-radius: 1.5rem;
    color: black;
}
